@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
:root {
    --primary: #FC5404;
    --secondary: #eee;
    --dark: #323232;
    --bg: #001b48;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    line-height: 1.5;
    transition: all .3s ease-in-out;
    font-family: "Josefin Sans", Arial;
}

body {
    background: var(--bg);
}

header {
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--secondary);
}

header .logo {
    font-size: 23px;
}

header .logo span {
    color: var(--primary);
}

.left {
    display: flex;
    align-items: center;
    min-width: 40%;
    justify-content: space-between;
}

header ul {
    display: flex;
    jutsify-content: space-between;
    align-items: center;
}

header ul li {
    list-style-type: none;
    margin: 0 1rem;
    color: #888;
    font-size: 15px;
    cursor: pointer;
}

header ul li.active,
header ul li:hover {
    color: var(--secondary);
}

header .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    margin: 0 1rem;
    background: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    color: #fff;
}

.btn-primary {
    background: var(--primary);
}

.btn-primary:hover {
    background: var(--secondary);
    color: var(--primary);
}

.btn-secondary:hover {
    background: var(--secondary);
    color: var(--primary);
}

header .btns .btn {
    margin: 0 10px;
}

#hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#hero .left {
    display: block;
    padding: 2rem;
}

#hero .left p {
    color: #999;
}

#hero .left h5 {
    color: #888;
}

#hero .left h5::before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    margin-right: 5px;
    color: #24FF00;
}

#hero .left .title {
    margin: 1rem 0;
    font-size: 2.8em;
    color: var(--secondary);
    line-height: 1.2;
}

#hero .btn {
    margin: 1rem 0;
    border: 2px solid var(--primary);
}

#hero .btn-primary:hover {
    border-color: var(--secondary);
}

#hero .btn-secondary {
    border: 2px solid rgba(255, 255, 255, 0.12);
}

#hero .btn-secondary i {
    color: #24FF00;
    margin-top: 3px;
}

footer {
    padding: 10px 10px 0px 10px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer .card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    width: 300px;
    padding: 0.5rem 0.7rem;
}

footer .card p {
    font-size: 13px;
    color: #999;
}

footer .card h3 {
    margin: 5px 0;
    font-weight: 400;
    font-family: "Josefin Sans",
}

footer .card .icon {
    margin-right: 1rem;
    min-width: 50px;
    min-height: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: #FF4848;
}

footer .card:last-child .icon {
    color: #00FFA8;
}

@media (max-width: 1000px) {
    header {
        flex-direction: column;
    }
    header .left {
        flex-direction: column;
        margin-bottom: 1rem;
    }
    header .logo {
        margin-bottom: 1rem;
    }
    #hero {
        flex-direction: column;
    }
    #hero .left {
        text-align: center;
    }
    footer {
        justify-content: center;
    }
    header .btns {
        margin: 0 1rem;
    }
    header .btns .btn {
        margin: 0.5rem;
    }
    header .btns .btn-secondary {
        background: var(--secondary);
        color: var(--dark);
    }
    header .btns .btn-secondary:hover {
        color: #fff;
        background: var(--dark);
    }
}

@media (max-width: 800px) {
    footer {
        flex-direction: column;
    }
    #hero .left .title {
        font-size: 2em;
    }
    #hero .left p {
        font-size: 14px;
        text-align: justify-center;
        margin-bottom: 1rem;
    }
    #hero img {
        width: 300px;
    }
    #hero .btn {
        margin: 0.5rem;
    }
}

::selection {
    background: var(--secondary);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--bg);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--bg);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122, 153, 217)), color-stop(0.72, rgb(73, 125, 189)), color-stop(0.86, rgb(28, 58, 148)));
}


/*NAVBAR*/

.navbar {
    color: #fff;
    background: #001b48 !important;
    padding: 5px 16px;
    border-radius: 0;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}

.search-box {
    position: relative;
}

.search-box input {
    padding-right: 35px;
    min-height: 38px;
    border: none;
    background: #faf7fd;
    border-radius: 3px !important;
}

.search-box input:focus {
    background: #fff;
    box-shadow: none;
}

.search-box .input-group-addon {
    min-width: 35px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 10px 7px;
    height: 100%;
}

.search-box i {
    color: #a0a5b1;
    font-size: 19px;
}

.navbar .nav-item i {
    font-size: 18px;
}

.navbar .nav-item span {
    position: relative;
    top: 3px;
}

.navbar .navbar-nav>a {
    color: #efe5ff;
    padding: 8px 15px;
    font-size: 14px;
}

.navbar .navbar-nav>a:hover,
.navbar .navbar-nav>a:focus {
    color: #fff;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
}

.navbar .navbar-nav>a>i {
    display: block;
    text-align: center;
}

.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}

.navbar .dropdown-item .material-icons {
    font-size: 21px;
    line-height: 16px;
    vertical-align: middle;
    margin-top: -2px;
}

.navbar .nav-item.open>a,
.navbar .nav-item.open>a:hover,
.navbar .nav-item.open>a:focus {
    color: #fff;
    background: none !important;
}

.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

.navbar .dropdown-menu a {
    color: #777 !important;
    padding: 8px 20px;
    line-height: normal;
    font-size: 15px;
}

.navbar .dropdown-menu a:hover,
.navbar .dropdown-menu a:focus {
    color: #333 !important;
    background: transparent !important;
}

.navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:hover,
.navbar .navbar-nav .active a:focus {
    color: #fff;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
    background: transparent !important;
}

.navbar .navbar-nav .user-action {
    padding: 9px 15px;
    font-size: 15px;
}

.navbar .navbar-toggle {
    border-color: #fff;
}

.navbar .navbar-toggle .icon-bar {
    background: #fff;
}

.navbar .navbar-toggle:focus,
.navbar .navbar-toggle:hover {
    background: transparent;
}

.navbar .navbar-nav .open .dropdown-menu {
    background: #faf7fd;
    border-radius: 1px;
    border-color: #faf7fd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

.navbar .divider {
    background-color: #e9ecef !important;
}

@media (min-width: 1200px) {
    .form-inline .input-group {
        width: 350px;
        margin-left: 0px;
    }
}

@media (max-width: 1199px) {
    .navbar .navbar-nav>a>i {
        display: inline-block;
        text-align: left;
        min-width: 30px;
        position: relative;
        top: 4px;
    }
    .navbar .navbar-collapse {
        border: none;
        box-shadow: none;
        padding: 0;
    }
    .navbar .navbar-form {
        border: none;
        display: block;
        margin: 10px 0;
        padding: 0;
    }
    .navbar .navbar-nav {
        margin: 8px 0;
    }
    .navbar .navbar-toggle {
        margin-right: 0;
    }
    .input-group {
        width: 100%;
    }
}

.fix-stand {
    margin-top: 90px;
    background: rgb(113, 118, 138);
    background: radial-gradient(circle, rgba(113, 118, 138, 0.5049370089832808) 0%, rgba(0, 27, 72, 0) 100%);
}


/*CARD QUOTE*/

.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
}

.blockquote-custom-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 50px;
}


/*IMAGES GRID*/

.image {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgb(0, 0, 0);
}

.container:hover .overlay {
    opacity: 0.5;
}

.text {
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.bn-shadow {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.bn-shadow:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.link-url {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.link-url:hover {
    color: #ffffff;
    font-weight: bolder;
    text-decoration: none;
}

.zoom {
    padding: 2em;
    margin: 2em;
    transition: transform 0.2s;
    text-align: center;
    display: flex;
    justify-content: center;
}

.zoom:hover {
    -ms-transform: scale(1.15);
    /* IE 9 */
    -webkit-transform: scale(1.15);
    /* Safari 3-8 */
    transform: scale(1.15);
}

.flex-container {
    display: flex;
}

.container-0-pd {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 11px;
    padding-right: 11px;
    padding-bottom: 11px;
    padding-left: 11px;
}

@media (max-width: 800px) {
    .image {
        object-fit: cover;
        width: 100px;
        height: 100px;
    }
    .text {
        color: rgb(255, 255, 255);
        font-size: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

@media (max-width: 400px) {
    .image {
        object-fit: cover;
        width: 60px;
        height: 60px;
    }
    .text {
        color: rgb(255, 255, 255);
        font-size: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
}


/*carrusel*/

.bbb_viewed {
    padding-top: 51px;
    padding-bottom: 60px;
    background: #001b48
}

.bbb_main_container {
    background-color: #001b48;
    padding: 11px;
    background-image: url('../img/gplay.png');
}

.bbb_viewed_title_container {
    border-bottom: solid 1px #dadada
}

.bbb_viewed_title {
    margin-bottom: 16px;
    margin-top: 8px
}

.bbb_viewed_nav_container {
    position: absolute;
    right: -5px;
    bottom: 14px
}

.bbb_viewed_nav {
    display: inline-block;
    cursor: pointer
}

.bbb_viewed_nav i {
    color: #fafafa;
    font-size: 18px;
    padding: 5px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.bbb_viewed_nav:hover i {
    color: #fafafa
}

.bbb_viewed_prev {
    margin-right: 15px
}

.bbb_viewed_slider_container {
    padding-top: 13px
}

.bbb_viewed_item {
    width: 100%;
    border-radius: 2px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.bbb_viewed_image {
    width: 150px;
    height: 150px
}

.bbb_viewed_image img {
    display: block;
    max-width: 100%
}

.bbb_viewed_content {
    width: 100%;
    margin-top: 25px
}

.bbb_viewed_price {
    font-size: 16px;
    color: #fff;
    font-weight: 500
}

.bbb_viewed_item.discount .bbb_viewed_price {
    color: #fafafa
}

.bbb_viewed_price span {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    color: #fafafa;
    margin-left: 8px
}

.bbb_viewed_price span::after {
    display: block;
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: 1px;
    background: #fafafa;
    content: ''
}

.bbb_viewed_name {
    margin-top: 3px
}

.bbb_viewed_name a {
    font-size: 14px;
    color: #fff;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.bbb_viewed_name a:hover {
    color: #fafafa
}

.item_marks {
    position: absolute;
    top: 18px;
    left: 18px
}

.item_mark {
    display: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 500;
    line-height: 36px;
    text-align: center
}

.item_discount {
    background: #71768a;
    margin-right: 5px
}

.item_new {
    background: #FC5404
}

.bbb_viewed_item.discount .item_discount {
    display: inline-block
}

.bbb_viewed_item.is_new .item_new {
    display: inline-block
}

.font-color {
    font-family: "Josefin Sans", Arial;
    color: #fff;
}


/*PLANS*/

.container-plan {
    position: relative;
    width: 50%;
}

.image-plan {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle-plan {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container-plan:hover .image-plan {
    opacity: 0.3;
}

.container-plan:hover .middle-plan {
    opacity: 1;
}

.text-plan {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    padding-top: 30%;
}

.text2-plan {
    color: #FFFFFF;
    font-size: 20px;
    padding-bottom: 100%;
}


/*TEAM*/

.name {
    color: #FC5404
}

.work {
    font-weight: bold;
    font-size: 15px
}

.about span {
    font-size: 13px
}

.v-profile {
    color: #71768a;
    cursor: pointer
}

.box {
    -webkit-box-shadow: 13px 12px 5px -10px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 13px 12px 5px -10px rgba(0, 0, 0, 0.72);
    box-shadow: 13px 12px 5px -10px rgba(0, 0, 0, 0.72)
}

.col-md-3 {
    margin-top: 10px
}


/*PRODUCTS*/

.container-products {
    position: relative;
    width: 50%;
}

.image-products {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.overlay-products {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    opacity: 0;
    background-color: rgb(0, 0, 0);
}

.container-products:hover .overlay-products {
    opacity: 0.5;
}

.text-products {
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.bn-shadow-products {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.bn-shadow-products:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.link-url-products {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.link-url-products:hover-products {
    color: #000;
    font-weight: bolder;
    text-decoration: none;
}

@media (max-width: 800px) {
    .image-products {
        object-fit: cover;
        width: 100px;
        height: 100px;
    }
    .text-products {
        color: rgb(255, 255, 255);
        font-size: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

@media (max-width: 400px) {
    .image-products {
        object-fit: cover;
        width: 60px;
        height: 60px;
    }
    .text-products {
        color: rgb(255, 255, 255);
        font-size: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.navbar-brand {
    color: #FF9D5A; /* Color hexadecimal especificado */
    text-decoration: none; /* Esto elimina el subrayado del enlace */
}

.brand-text {
    color: #FF9D5A; /* Color hexadecimal especificado */
    font-size: 24px; /* Ajusta este valor para el tamaño de fuente deseado */
}